################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
[Dd]ebug/
[Bb]in/
*/bin/
[Oo]bj/